/*
Paleta de colores 
Amarillo: #EAC926; 
Azul: #03264C; 
Celeste: #1259c3; 
Gris oscuro: #666; 
Gris claro: #ebebeb; 
Verde: #39b54a;

Tamaños Tipográficos
Cuerpos de texto: 12px
Titulares (Basado en tu última visita/Ofertas): 24px 
Precios: 18px
Descuentos: 16px
Descripciones: 16px
*/

*{
    margin: auto;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
}

div.searchbar{
    display: flex;
    flex-direction:row;
    margin: 10px;
    justify-content: center;
    flex-wrap: nowrap;
}

p{
    font-size: 12px;
}

h3{
    font-size: 24px;
}

header{
    background-color: #EAC926;
    padding: 20px;
}

.copy-header{
    font-weight: 300;
    text-align: center;
    font-size: 14px;
    margin: 10px
}

.hamburger-buttom{
    background-color: #03264c;
    color: #ffffff;
    display: block;
    max-width: 50px;
    padding: 15px 0px;
    border-radius: 8px;
    text-align: center;
    font-size: 18px;
    margin: auto;
}

.logo{
    max-width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.main-navbar{
    display: none;
}

.main-navbar ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.main-navbar a{
    text-decoration: none;
    color: #222222;
    display: inline-block;
    padding: 5px 0px;
    font-size: 12px;
}

div.last-visit,
div.offers{
    display: flex;
    flex-wrap: wrap;
}

article div.main-article{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    border-top: 1px solid #ebebeb;
    position: relative;
    padding: 15px;
}

.price{
    font-size: 18px;
    width: 40%;
}

.discount,
.description{
    font-size: 16px;
    font-weight: normal;
}

.discount{
    width: 60%;
}

.description{
    margin-top: 20px;
}

h3,
.description{
    color: #666;
}

section.banner img{
    width: 100%;
    display: block;
}

main{
    width: 90%;
    margin: 0 auto;
}

main section h3{
    margin: 20px 0px;
}

main section article{
    background-color: #fff;
    margin: 10px 0px;
}

main section article img{
    display: block;
    width: 100%;
}

main section article i,
.discount{
    color: #39b54a;
}

main section article i{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
}

footer{
    background-color: #fff;
    color: #666;
    padding: 20px;
    width: 100%;
}

footer article{
    margin: 20px 0px;
    text-align: center;
}

footer i{
    color: #1259c3;
}

footer article .icono {
    font-size: 2em;
    margin-bottom: 10px;
}

.box{
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

article .description{
    width: 100%;
    opacity: 0.05;
    padding: 10px;
    text-align: center;
    background-color: #39b54a;
    color: white;
    size: 20px;     
    transition: all 0.4s;
    transition-timing-function: ease-in-out;
}

article:hover .description{
    opacity: 1;
    background-color: #39b54a;
}

main article{
    transition: all 0.4s;
}


main article:hover {
    box-shadow: 0 0 10px rgb(100, 100 , 100);
}

.camion{
    transition: all 0.5s;
    transition-timing-function: ease-in-out;
}

.camion:hover{
    transform: rotate(360deg);
}

.pie-de-pag article .icono{
    transition: all 0.5s;
}

.pie-de-pag article .icono:hover{
    color: #39b54a;
    font-size: 2.5em;
}


/* ///////// MEDIA @ ///////////// */

@media (min-width: 361px) {
    
    .main-header-top-bar{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
    }
    
    .main-header-top-bar a{
        margin-left: 0px;
        min-width: 170px;
    }

    div.searchbar{
        justify-items: center;
    }

    nav{
        display: block;
    }
    
    main{
        width: 95%;
    }
    
    main article {
        box-shadow: 0 0 10px rgb(100, 100 , 100);
    }
    
    article {
        flex-basis: 47%;
    }

    main section article{
        margin: 10px 5px;
    }

    .hamburger-buttom{
        display: none;
    }
    .main-navbar{
        display: flex;
        justify-content: space-between;
        align-items: center
    }
    .main-navbar ul{
        display: flex;
    }
    .main-navbar li{
        margin: 0px 5px;
    }
    .left-navbar, 
    .right-navbar{
        text-align: center;
    }
    
    .main-navbar{
        margin-top: 15px;
    }
}

@media (min-width: 769px){

    .main-header{
        display: flex;
        justify-content: space-between;
    }

    .main-header-top-bar{
        display: flex;
        justify-content: space-between;
        margin-top: 1em;
        margin-left: 1em;
    }

    .main-header-top-bar a{
        margin-left: 0px;
        min-width: 300px;
    }

    .copy-header{
        max-width: 400px;
        text-align: right;
        font-size: 15px;
    }

    .logo{
        margin-left: 0;
    }    

    .main-navbar a{
        font-size: 17px;
    }

    .main-navbar li{
        margin: 0px 20px;
    }

    main{
        width: 98%;
    }
    article {
        flex-basis: 22%;
    }

    .pie-de-pag{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 20px;
        }

    .pie-de-pag article{
        flex-grow: 0.3;
    }
}

@media (min-width:1200px){
    .main-header-top-bar,
    .main-navbar{
        max-width: 1200px;
    }

    .main-navbar li{
        margin: 0, 25px;
    }
    .main-navbar a{
        font-size: 20px;
    }
    .copy-header{
        max-width: none;
        font-size: 17px;
        font-weight: 400px;
    }
    
}

/* ///////////////// ------ Formularios */

.login input,
.register input{
    width: 100%;
    padding: 10px;
    margin: 20px 0px;
    border-radius: 5px;
    border: 0px;
}

.login input[type='submit'],
.register input[type='submit']{
    color: #FFF;
    background-color: #0044AA;  
    border-radius: 5px;
}

.login input[type='submit']:hover,
.register input[type='submit']:hover{
    background-color: #0022AA;
}

.register input[type='reset']{
    color: #FFF;
    background-color: #AA0044;
}

.register input[type='reset']:hover{
    background-color: #CC1155;
}

div.profile{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

div.profile input,
div.profile label{
    width: auto;
    width: auto;
}

div.interests{
    display: flex;
    flex-wrap: wrap;
}

div.interests div{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

div.interests div input,
div.interests div label{
    width: auto;
}

div.interests div input{
    margin: 20px;
}

.submit-button button{
    background-color: #1259c3;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
    width: 100%;
    margin-bottom: 20px;
}

.submit-button:hover button{
    background-color: #0022AA;
}

.reset-submit-button{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.reset-submit-button button{ 
    flex-basis: 45%;
    background-color: #1259c3;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
    width: 100%;
    margin-bottom: 20px;
}